__pycache__/
*.pyc
*.pyo
*.pyd

# checkpoints / large binaries
*.pdparams
*.pdopt
*.pdmodel
*.pdiparams
*.pdiparams.info
checkpoint/
checkpoints/
output/
*.log
.arbor-venv/
.arbor/

.idea/
.vscode/
.DS_Store
